html {
    background-color: lightgray;
}

body {
    margin: 0;
}

#header {
    height: 13vh;
    background-color: rgb(184, 184, 184);
    border-bottom: 3px solid black;
    width: 100vw;
}

#logo {
    max-height: 11vh;
    padding: 1vh;
}

#nav, #logo-container {
    display: inline;
}

#nav {
    float: right;
}

#nav-items {
    height: 13vh;
    display: flex;
}

.nav-item {
    padding-right: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

/* SIGN UP FORM */

.sign-up-area {
    margin: 5vh auto 0 auto;
    padding: 3vh;
    border: 3px solid grey;
    border-radius: 8px;
    width: 26vw;
}

.sign-up-label {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.control-label {
    display: block;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    display: none;
}

.form-field {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    border-radius: 5px;
    width: 100%;
    margin: 15px auto;
    padding: 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.alert {
    padding: 3px;
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    margin-top: 30px;
}

.alert-message {
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    padding: 0 10px;
}

.form-submit {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    width: 100%;
    margin-top: 15px;
    padding: 3px;
    color: black;
    background-color: lightgreen;
    border-radius: 5px;
}

#confirm-sign-up {
    display: none;
}