/* PREVENT FLASH OF UNSTYLED CONTENT */
#fouc {
    /* TEMPORARILY DISABLED */
    display: none !important;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(56, 56, 56);
    z-index: 9001;
}

#fouc img {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

html {
    background-color: rgb(56, 56, 56);
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#hide-overflow {
    overflow: hidden;
}

#header {
    height: 8vh;
    background-color: rgb(48, 48, 48);
    /* border-bottom: 3px solid black; */
    width: 100vw;
    box-shadow: 0px 3px 7px rgb(13, 13, 13);
}

#logo-container {
    float: left;
}

#logo-items {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    height: 8vh;
    padding-left: 25px;
}

#logo {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    display: inline;
}

#logo a i {
    font-size: 2.1rem;
}

#logo-link {
    color: #bbff00;
    text-decoration: none;
    display: inline;
    transition-property: color;
    transition-duration: .4s;
}

#logo-link:hover {
    color: white;
}

#nav, #logo-container {
    display: inline;
}

#nav {
    float: right;
    /* padding-right: 25px; */
}

#nav-items {
    height: 8vh;
    display: flex;
}

.nav-item {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding: 0 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px black;
    transition-property: background-color, color, text-shadow;
    transition-duration: .3s;
}

#signup-link {
    color: #bbff00;
}

.nav-item:hover, #signup-link:hover {
    background-color: #bbff00;
    color: black;
    text-shadow: 0 0 0px rgba(0,0,0,0);
}

/* FORMS */

.form-area {
    background-color: rgb(48, 48, 48);
    margin: 5vh auto 0 auto;
    padding: 3vh;
    /* border: 3px solid black; */
    border-radius: 12px;
    width: 26vw;
    box-shadow: 0px 0px 10px black;
}

.form-title {
    color: white;
    text-shadow: 0 0 7px black;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.control-label {
    display: block;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    display: none;
}

.form-field {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    border: unset;
    border-radius: 5px;
    width: 100%;
    margin: 15px auto;
    padding: 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.alert {
    padding: 3px;
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    margin-top: 30px;
}

.alert-message {
    margin: 10px auto;
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: left;
    padding: 0 10px;
}

#allowed-chars {
    font-family: monospace;
    text-align: center;
}

.form-submit {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    width: 100%;
    margin-top: 15px;
    padding: 3px;
    color: black;
    background-color: #bbff00;
    border: unset;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: .4s;
}

.form-submit:hover {
    background-color: #daff75;
}

.backup-message {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    padding-top: 10px;
}

.backup-link {
    color: lightblue;
    text-decoration: underline;
}

/* DASHBOARD */

.heading {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    padding: 0 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* UPLOAD IMAGE */

#upload-container {
    padding: 15px 10px;
    height: 4vh;
}

.custom-file-upload {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 5px;
    display: inline;
    padding: 6px 12px;
    cursor: pointer;
    background-color: white;
    margin: 0 4px 0 10px;
}

#file-upload {
    display: none;
}

#file-name {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    display: inline;
    margin: 0 10px;
}

#crop-button, #clear-button, #upload-button {
    visibility: hidden;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    border: unset;
    border-radius: 5px;
    display: inline;
    padding: 6px 12px;
    cursor: pointer;
    background-color: white;
    margin-left: 10px;
}

#rename-file {
    display: inline;
}

#new-file-name {
    visibility: hidden;
    border: unset;
    border-radius: 5px;
    margin-left: 10px;
    cursor: text;
    display: inline;
    font-weight: 200;
}

#new-file-name::placeholder {
    font-weight: 600;
}

#canvas-area {
    width: 100vw;
    text-align: center;
    padding-top: 10px;
}

#uploaded-image {
    z-index: 1;
}

#draw-area {
    background-color: rgba(0,0,0,0);
    z-index: 2;
}

#final-image, #draw-area, #uploaded-image {
    position: absolute;
    display: block;
    left: 50%; 
    transform: translate(-50%);
    max-width: 95%;
}

#upload-spinner {
    left: 50%; 
    transform: translate(-50%);
}

#upload-alert-area {
    display: none;
    position: absolute;
    left: 50%; 
    transform: translate(-50%);
    max-width: 33%;
}

#upload-alert-message {
    
}

/* LIBRARY */

#controls-container {
    height: 4vh;
    padding: 15px 0px;
}

#search-container {
    float: left;
}

#search-input {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    border: unset;
    border-radius: 5px;
    display: inline;
    padding: 6px 12px;
    cursor: text;
    margin-left: 1.1vw;
    width: 22vw;
}

#search-input:focus {
    outline: 2px solid #bbff00;
}

#refresh-images-container {
    float: right;
}

#refresh-images-button, #search-button {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    border: unset;
    border-radius: 5px;
    display: inline;
    padding: 6px 12px;
    cursor: pointer;
    background-color: white;
    margin-left: 15px;
    margin-right: 1.1vw;
    transition-property: background-color;
    transition-duration: .4s;
}

#refresh-images-button:hover, #search-button:hover {
    background-color: #bbff00;
}

#refresh-images-label {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    display: inline;
}

#library-container {
    margin: 0 auto 15px auto;
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 15px;
}

.library-item {
    border-radius: 8px;
    background-color: rgb(48, 48, 48);
    display: grid;
    grid-template-columns: 10px 1fr 10px 6fr 10px 1fr 10px 1fr 10px;
    grid-template-rows: 10px minmax(90px, auto) 10px 40px 10px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-height: 700px;
}

.library-overlay {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    display: grid;
    grid-template-columns: 10px 1fr 10px 6fr 10px 1fr 10px 1fr 10px;
    grid-template-rows: 10px minmax(90px, auto) 10px 40px 10px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-height: 700px;
}

.library-item-label {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.3rem;
    display: block;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.library-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.delete-image-button, .expand-image-button, .image-details-button {
    font-size: 1.1rem;
    border: unset;
    border-radius: 5px;
    display: inline;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
    height: 100%;
}

.delete-image-button {
    background-color: rgb(255, 70, 70);
}

.expand-image-button {
    background-color: rgb(255, 255, 94);
}

.image-details-button {
    background-color: aquamarine;
}

.library-image-container { 
    grid-area: 2 / 2 / 3 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
}

.delete-area { 
    grid-area: 4 / 2 / 5 / 3; 
}
.library-item-label-area { 
    display: flex;
    align-content: center;
    grid-area: 4 / 4 / 5 / 5; 
}
.details-area { 
    grid-area: 4 / 6 / 5 / 7; 
}
.expand-area { 
    grid-area: 4 / 8 / 5 / 9; 
} 

#expand-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgba(20, 20, 20, 0.95);
}

#expanded-image, #expanded-image-canvas {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 100;
    max-height: 95%;
    max-width: 95%;
}

#expanded-image {
    box-shadow: 0px 0px 15px black;
}

/* Thanks https://codepen.io/LukeAskew/pen/gabgom */

#expanded-image-canvas {
    z-index: 101;
    opacity: 1;
    animation-name: transparency;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
  
    @keyframes transparency {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

/* Thanks https://codepen.io/LukeAskew/pen/gabgom */