html {
    background-color: rgb(56, 56, 56);
}

body {
    margin: 0;
}

#header {
    height: 13vh;
    background-color: rgb(48, 48, 48);
    /* border-bottom: 3px solid black; */
    width: 100vw;
    box-shadow: 0px 3px 7px rgb(13, 13, 13);
}

#logo {
    max-height: 11vh;
    padding: 1vh;
}

#nav, #logo-container {
    display: inline;
}

#nav {
    float: right;
}

#nav-items {
    height: 13vh;
    display: flex;
}

.nav-item {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding: 0 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px black;
    transition-property: background-color, color, text-shadow;
    transition-duration: .3s;
}

#signup-link {
    color: lightgreen;
}

.nav-item:hover, #signup-link:hover {
    background-color: rgb(218, 218, 218);
    color: black;
    text-shadow: 0 0 0px rgba(0,0,0,0);
}

/* SIGN UP FORM */

.sign-up-area {
    background-color: rgb(48, 48, 48);
    margin: 5vh auto 0 auto;
    padding: 3vh;
    /* border: 3px solid black; */
    border-radius: 12px;
    width: 26vw;
    box-shadow: 0px 0px 10px black;
}

.sign-up-label {
    color: white;
    text-shadow: 0 0 7px black;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.control-label {
    display: block;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    display: none;
}

.form-field {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    border: unset;
    border-radius: 5px;
    width: 100%;
    margin: 15px auto;
    padding: 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.alert {
    padding: 3px;
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    margin-top: 30px;
}

.alert-message {
    margin: 10px auto;
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: left;
    padding: 0 10px;
}

#allowed-chars {
    font-family: monospace;
    text-align: center;
}

.form-submit {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    width: 100%;
    margin-top: 15px;
    padding: 3px;
    color: black;
    background-color: lightgreen;
    border: unset;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: .4s;
}

.form-submit:hover {
    background-color: rgb(162, 238, 162);
}

#confirmation-backup {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    padding-top: 10px;
}

#confirmation-backup-link {
    color: lightblue
}

/* DASHBOARD */

.heading {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    padding: 0 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}